/* common shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#FD6E0A ;
}
.section-title{
    color:#181818;
   text-align: center;
   font-size: 35px;
   font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
color:  #181818;
font-size: 45px;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
.primary-btn{
  border-radius: 5px;
  background: #FD6E0A;
  color:#FFF;
  font-size: 20px;
  font-weight: 700;
  border:0;
  padding: 15px 30px;
}
.primary-btn:hover{
    background-color: lightgrey;
    color: #181818;
}
/*header section styles*/
.header{
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-size: 530px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
    padding-top: 300px;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-des{
    color: #757575;
   font-size: 18px;
   font-weight: 400;
}
.contact-btn{
    border-radius: 5px;
    color:  #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border:1px solid  #FD6E0A;
    padding: 14px 32px;
    margin-left: 10px;

}
/*main-section styles*/
   main{
       max-width: 1140px;
        margin: 0 auto;
   }
   main section{
    margin-top: 130px;
   }

/*about-section styles*/
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    font-size: 13px;
    font-weight: 400;
    margin-left: 50px;   
}
.info-description{
    color:  #474747;
    font-size: 13px;
    font-weight: 900;
    margin-left: 50px;  
}
/*skill-section-styles*/
#what-des{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 32px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.86);
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
/* resume-section styles */
.resume-coloum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.resume-container{
     display: flex;
     gap: 53px;
}
.resume-item-title{
    font-size: 25px;
    font-weight: 700;  

}
.resume-item-institue{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.resume-item-description{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer styles */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 105px;
    gap:100px;
}
.footer-column{
    width: 50%;
}
.social-links{
    text-align: center;
}
.social-links a{
    margin-left: 20px;
}
.social-links img{
    width: 24px;
    height: 24px;
}
.contact{
    text-align: center;
}
.contact input,textarea{
    display: block;
    margin-bottom: 24px;
    margin-left: 30px;
}
.contact input[type=text], input[type=email], textarea{
    padding:18px 35px;
    color: #757575;
    font-size: 16px;
    border-radius: 5px;
   background: #FFF;
   border: 0;
   width: 70%;
}